<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="biz.middleware.sharding.mapper.CreateTableMapper">

    <select id="createTableLike">
        CREATE TABLE IF NOT EXISTS ${dstTableName} (LIKE ${srcTableName} including all)
    </select>

    <select id="dropTable">
        DROP TABLE ${tableName}
    </select>
</mapper>
